/* Login.css */

/* Styling for the login component */
.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9f9f9; /* Background color for the login page */
  }
  
  .register-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }
  
  .register-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #ff5722; 
  }
  
  .register-form label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  .register-form input[type='text'],
  .register-form input[type='password'],
  .register-form input[type='email'] {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .register-form button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #ff5722; /* Dark purple */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .register-form button:hover {
    background-color: #ff5722; 
  }
  